.adminlogin {
    display: flex;
    align-items: center;
}

.adduserdiv {
    display: flex !important;
    justify-content: space-between !important;

}

.p-3 {
    margin: 0 30px !important;
    padding: 0 50px;
}

.px-2 {
    margin: 5px 20px
}